<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="gabbleLinks">
      <a href="/">Gabble</a> <span class='gabbleSpans'>|</span>
      <a href="#">Create a new gab</a> <span class='gabbleSpans'>|</span>
      <a href="/login">Logged in as </a> <span class='gabbleSpans'>|</span>
      <a href="/signup">Log out</a> <span class='gabbleSpans'>|</span>
    </div>

  </body>
</html>
