<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="links">
      <a href="/">Gabble</a> <span class='gabbleSpans'>|</span>
      <a href="/create">Create a new gab</a> <span class='gabbleSpans'>|</span>
      <p>Logged in as {{username}}</p> <span class='gabbleSpans'>|</span>
      <form class="logout" action="/logout" method="post">
        <button type="submit" name="logout">Log out</button>
      </form>
    </div>
    {{#gabs}}
    <div class="">
      {{messages}}
    </div>
    {{/gabs}}
  </body>
</html>
