<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="loginLinks">
      <a href="/">Gabble</a> <span class='loginSpans'>|</span>
      <a href="#">Create a new gab</a> <span class='loginSpans'>|</span>
      <a href="#">Log in</a> <span class='loginSpans'>|</span>
      <a href="#">Sign up</a> <span class='loginSpans'>|</span>
    </div>
    <br>
    <h1>Log in</h1>
    <br>
    <form class="" action="/login" method="post">
      <div class="loginDivs">
        <input class='loginInputs' type="text" name="username" value="" placeholder="Username">
      </div>
      <br>
      <div class="loginDivs">
        <input class='loginInputs' type="password" name="password" value="" placeholder="Password">
      </div>
      <br>
      <div class="loginDivs">
        <input type="submit" name="loginSubmit" value="Log in">
      </div>
    </form>
    <p>login: Colleen_Bode </p>
    <p>password: #4b1957</p>
  </body>
</html>
