<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="links">
      <a href="/">Gabble</a> <span class='loginSpans'>|</span>
      <a href="/create">Create a new gab</a> <span class='loginSpans'>|</span>
      <a href="/login">Log in</a> <span class='loginSpans'>|</span>
      <a href="/signup">Sign up</a> <span class='loginSpans'>|</span>
    </div>
    <br>
    <h1>Log in</h1>
    <br>
    <form class="" action="/login" method="post">
      <div class="loginDivs">
        <input class='loginInputs' type="text" name="username" value="" placeholder="Username">
      </div>
      <br>
      <div class="loginDivs">
        <input class='loginInputs' type="password" name="password" value="" placeholder="Password">
      </div>
      <br>
      <div class="loginDivs">
        <input type="submit" name="loginSubmit" value="Log in">
      </div>
    </form>
    <p>login: john </p>
    <p>password: 123</p>
  </body>
</html>
