<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="links">
      <a href="/">Gabble</a> <span class='signupSpans'>|</span>
      <a href="/create">Create a new gab</a> <span class='signupSpans'>|</span>
      <a href="/login">Log in</a> <span class='signupSpans'>|</span>
      <a href="/signup">Sign up</a> <span class='signupSpans'>|</span>
    </div>
    <br>
    <h1>Sign up</h1>
    <br>
    <form class="" action="/signup" method="post">
      <div class="">
        <input type="text" name="username" value="" placeholder="Username">
      </div>
      <br>
      <div class="">
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <br>
      <div class="">
        <input type="password" name="passwordConfirm" value="" placeholder="Password confirmation">
      </div>
      <br>
      <div class="">
        <input type="submit" name="signup" value="Sign up">
      </div>
    </form>
  </body>
</html>
